/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.navBar md-content .ext-content {
  padding: 50px;
  margin: 20px;
  background-color: #FFF2E0; }
body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #ddd; 
  
}

table {
    border-collapse:separate;
    border-spacing:1px;
    background:#CCC;
    display: inline-table; 
    font-size: 13px;   
  }

table th {
      background:#EEE;
      font-weight:600;
      padding:10px 20px;
      text-align:center;

    }

table tbody {
      padding:0; margin:0;
      border-collapse:collapse;
      border-spacing:0px;
   }      

table td {
        background:#FFF;
        padding:5px 10px;
        text-align:center;
      }

#VIN_Details {
  margin:0 0 0 0;
}

#CAMPAIGN_Details {
  margin: -160px -18px -41px 236px;
}


#campdets {
  margin: -185px 200px 100px 220px;
}

